@import "../../styles/colors.scss";

.styled-button {
  font-size: 16px;
  padding: 10px 16px;
  border: 2px solid $primaryMain;
  border-radius: 5px;
  background-color: $primaryMain;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    background-color: $primaryDark;
  }
  &.error {
    background-color: $error;
    border: 2px solid $error;
    &:hover {
      color: $error;
      background-color: #ffffff;
    }
  }
  &.outlined {
    background-color: white;
    color: $primaryMain;

    &:hover {
      background-color: $outlinedButtonBackground;
    }
  }
  .btn-text {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
.btn-icon {
  font-size: 18px;
}
