@import "./../../styles/colors.scss";

.contacts-container {
  min-height: calc(100vh - 210px);
  max-width: 1170px;
  margin: 0 auto;

  h2 {
    color: $primaryDark;
    text-align: center;
    padding: 2rem 0 4rem;
  }
  .contacts {
    display: flex;

    .left {
      flex: 1;
      .contacts-info {
        margin-bottom: 2rem;
        p {
          padding: 0.5rem 0 0;
        }
      }
    }
    .right {
      flex: 1;
    }
  }
}
