@import "./../../styles/colors.scss";

.project-details {
  margin: 0 auto;
  display: flex;
  max-width: 1170px;
  min-height: calc(100vh - 210px);
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.left {
  flex: 2;
  img {
    width: 100%;
  }
  .title {
    padding: 0 1rem;
    color: $primaryDark;
    font-size: 24px;
    font-weight: 700;
  }
  .description {
    padding: 0 1rem;
    color: #626060;
  }
}

.right {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h3 {
    margin: 0;
  }
  p {
    padding: 2px 0;
    margin: 0;
  }
}

.big-card {
  width: 30rem;
}
