@import "../../styles/shadows.scss";
@import "./../../styles/colors.scss";

.container {
  min-height: calc(100vh - 210px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
    color: $primaryDark;
  }
}
.profile-form {
  width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: $cardShadow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
